BasedOnStyle: Microsoft
AccessModifierOffset: '-4'
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'true'
AllowAllConstructorInitializersOnNextLine: 'false'
AllowShortIfStatementsOnASingleLine: WithoutElse
AlwaysBreakTemplateDeclarations: 'Yes'
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBraces: Allman
BreakConstructorInitializers: AfterColon
ColumnLimit: '150'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
ConstructorInitializerIndentWidth: '0'
FixNamespaceComments: 'false'
IndentCaseLabels: 'true'
IndentPPDirectives: BeforeHash
Language: Cpp
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: 'false'
TabWidth: '4'